
.icon-wrapper{
    margin: 30px 0;
}

.icon-wrapper .icon{
    border-radius: 7em;
    background-color: #81C784;
    width: 12em;
    height: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}